/* common */
.banner-section, .navber-section{
    background: #F0FFF0;
} 
.topmargin{
    margin-top: 50px;
}
.marginbuttom{
    margin-bottom: 90px;
}
.ontext{
    color: #21B573;
}
.orntext{
    color: #FD511A;
}
.ntext{
    color: black;
    padding: 13px;
    font-weight: bold;
}
.botton{
    color: white;
    padding: 13px 35px;
    background-color: #21B573;
    border: none;
    border-radius: 33px;
}
.cat-img{
    height: 65px;
    width: 55px;
    margin-left: 60px;
    margin-bottom: 15px;
}
.catbox h5{
    text-align: center;
}
.catbox{
    margin: 0px;
    padding: 60px 40px;
    background-color: #F8FFFB;
    border: none !important;
    border-radius: 10px;
}
.catbox:hover{
    margin: 0px;
    padding: 60px 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px lightslategray ;
    color: blue;
}
.catbox{
    border: 10px solid black;
}
.cardfoot{
    padding: 35px 0 10px 0;
}
.cardfoot p{
    padding-top: 17px;
    padding-left: 8px;
}
.footer-information{
    padding: 60px 5px;
}
.footer-information h5{
    color: white;
}
footer{
    color: white;
    padding-top: 40px;
    padding-bottom: 30px;
}
.footer-inform-section, .footer-section{
    background-color: #282531;
}